extends ../layout.pug
block content
    h1 Enregistrer un utilisateur
    if error 
        div.alert.alert-danger #{error}
    form(method="post" enctype="multipart/form-data")

        .mb-3
            label.form-label Email
            input(type="email" class="form-control" placeholder="Adresse" name="email" value=form.email)  

        .mb-3
            label.form-label Mot de passe
            input(type="text" class="form-control" placeholder="Mot de passe" name="password" value=form.password)  

        .mb-3
            label.form-label Civilité
            select(class="form-control" placeholder="Civilité" name="civility")
                option(value="1") Monsieur
                option(value="2") Madame

        .mb-3
            label.form-label Prénom
            input(type="text" class="form-control" placeholder="Prénom" name="firstname" value=form.firstname)  

        .mb-3
            label.form-label Nom de famille
            input(type="text" class="form-control" placeholder="Nom de famille" name="lastname" value=form.lastname)  

        .mb-3
            label.form-label Numéro de téléphone
            input(type="text" class="form-control" placeholder="Numéro de téléphone" name="phone" value=form.phone)   

        .row.justify-content-center
            .col-2
                .mt-3
                    button.btn.btn-primary(type="submit") Enregistrer