extends layout.pug 

block content
    div.container.d-flex.flex-column
        div.row
            h1.col-8
                if realty.realty.type == 1 
                    span Maison #{realty.realty.area}m² - #{realty.realty.room} pièce(s) - #{realty.address.city}
                else if realty.realty.type == 2
                    span Appartement  #{realty.realty.area}m² - #{realty.realty.room} pièce(s) - #{realty.address.city}
                else if realty.realty.type == 3
                    span Terrain  #{realty.realty.area}m² - #{realty.address.city}
                else if realty.realty.type == 4
                    span Parking - #{realty.address.city}
                else if realty.realty.type == 5
                    span Local / Bureau - #{realty.address.city}
                else 
                    span #{realty.address.city}
            div.col-1-offset-1
                a.btn.btn-danger(href='mailto:'+realty.contact.email)
                    i.fa.fa-envelope
                    span  Ecrire à l'agence
        div.row
            div.col-6
                h4 #{realty.realty.price} €
                p
                    i.fa-solid.fa-location-dot 
                    span #{realty.address.zipcode} #{realty.address.city}
                h3 Description 
                p #{realty.realty.info}
                h3 Notre agent 
                ul 
                    li #{realty.agent.firstname} #{realty.agent.lastname}
                    li #{realty.agent.phone}
            div.col-6
            .card.realty-card
                if realty.pictures && realty.pictures.length > 0
                    #carouselExampleControls.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            for picture, key in realty.pictures
                                if key === 0
                                    .carousel-item.active
                                        img.d-block.w-100(src=picture)
                                else
                                    .carousel-item
                                        img.d-block.w-100(src=picture)
                        a.carousel-control-prev(href="#carouselExampleControls", role="button", data-bs-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.sr-only Previous
                        a.carousel-control-next(href="#carouselExampleControls", role="button", data-bs-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.sr-only Next
                else
                    img.card-img-top(src="/images/no-photo.jpg", alt="Pas de photo pour l'instant")