extends layout.pug
        
block content
    h1.h2 Liste des biens
 
    .row
        each realty, key in realties
            .col-sm-4.mt-4
                .card(style='width: 18rem;')
                    img.card-img-top(src='#{realty.realty.photo}' alt='Pas de photo')
                    .card-body
                        h5.card-title
                                if realty.realty.type == 1 
                                    span Maison #{realty.realty.area}m² - #{realty.realty.room} pièce(s) - #{realty.address.city}
                                else if realty.realty.type == 2
                                    span Appartement  #{realty.realty.area}m² - #{realty.realty.room} pièce(s) - #{realty.address.city}
                                else if realty.realty.type == 3
                                    span Terrain  #{realty.realty.area}m² - #{realty.address.city}
                                else if realty.realty.type == 4
                                    span Parking - #{realty.address.city}
                                else if realty.realty.type == 5
                                    span Local / Bureau - #{realty.address.city}
                                else 
                                    span #{realty.address.city}
                        p.card-text
                                if realty.realty.info != ''
                                    span #{realty.realty.info}
                        a.btn.btn-primary(href='/detail/'+realty._id) En savoir plus
